			pmx_i2c_gpio_scl: pmx-gpio-scl {
				marvell,pins = "mpp9";
				marvell,function = "gpio";
			};
		};

		serial@12000 {
			clock-frequency = <200000000>;
			status = "ok";
		};

		nand@3000000 {
			status = "ok";
			chip-delay = <25>;
		};
	};
};