			eeprom@57 {
				compatible = "atmel,24c02";
				reg = <0x57>;
			};

                };

                serial@12000 {
                        status = "ok";
                };

                nand@3000000 {
                        status = "okay";

                        partition@0 {
                                label = "uboot";
                                reg = <0x0000000 0x100000>;
                        };

                        partition@100000 {
                                label = "env";
                                reg = <0x100000 0x80000>;
                        };

                        partition@180000 {
                                label = "fdt";
                                reg = <0x180000 0x80000>;
                        };

                        partition@200000 {
                                label = "kernel";
                                reg = <0x200000 0x400000>;
                        };

                        partition@600000 {
                                label = "rootfs";
                                reg = <0x600000 0x1fa00000>;
                        };
                };

		rtc@10300 {
			status = "disabled";
		};

		sata@80000 {
			nr-ports = <2>;
			status = "okay";

		};

		mvsdio@90000 {
			pinctrl-0 = <&pmx_sdio &pmx_sdio_cd>;
			pinctrl-names = "default";
			status = "okay";
			cd-gpios = <&gpio1 15 0>;
			/* No WP GPIO */
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		health {
			label = "status:green:health";
			gpios = <&gpio0 7 1>;
		};

		user1o {
			label = "user1:orange";
			gpios = <&gpio1 8 1>;
			default-state = "on";
		};

		user1g {
			label = "user1:green";
			gpios = <&gpio1 9 1>;
			default-state = "on";
		};

		user0o {
			label = "user0:orange";
			gpios = <&gpio1 12 1>;
			default-state = "on";
		};

		user0g {
			label = "user0:green";
			gpios = <&gpio1 13 1>;
			default-state = "on";
		};

		misc {
			label = "status:orange:misc";
			gpios = <&gpio1 14 1>;
			default-state = "on";
		};

	};
};
