      <PackageGroupRef Id="crt" />
      <?endif ?>
      <PackageGroupRef Id="core" />
      <PackageGroupRef Id="exe" />
      <PackageGroupRef Id="dev" />
      <PackageGroupRef Id="lib" />
      <PackageGroupRef Id="test" />
      <PackageGroupRef Id="doc" />
      <PackageGroupRef Id="tools" />