    </Fragment>
    
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
        <?ifdef InstallDirectoryGuidSeed ?>
            <Directory Id="InstallDirectory" ComponentGuidGenerationSeed="$(var.InstallDirectoryGuidSeed)" />
        <?endif ?>
        </Directory>
    </Fragment>

    <Fragment>
        <!-- Locate TARGETDIR automatically assuming we have executables installed -->
        <Property Id="TARGETDIR">
            <ComponentSearch Id="PythonExe_Directory" Guid="$(var.PythonExeComponentGuid)">
                <DirectorySearch Id="PythonExe_Directory" AssignToProperty="yes" Path=".">
                    <FileSearch Id="PythonExe_DirectoryFile" Name="python.exe" />
                </DirectorySearch>
            </ComponentSearch>
        </Property>
        <Property Id="DetectTargetDir" Value="1" />
    </Fragment>
    
    <!-- Top-level directories -->
    <Fragment>