					<SYSC_IDLE_SMART>,
					<SYSC_IDLE_SMART_WKUP>;
			ti,syss-mask = <1>;
			/* Domains (V, P, C): core, core_pwrdm, l4per_clkdm */
			clocks = <&l4per_clkctrl OMAP5_UART3_CLKCTRL 0>;
			clock-names = "fck";
			#address-cells = <1>;