				 <&cpg CPG_CORE R8A774A1_CLK_S3D1>,
				 <&scif_clk>;
			clock-names = "fck", "brg_int", "scif_clk";
			dmas = <&dmac1 0x13>, <&dmac1 0x12>,
			       <&dmac2 0x13>, <&dmac2 0x12>;
			dma-names = "tx", "rx", "tx", "rx";
			power-domains = <&sysc R8A774A1_PD_ALWAYS_ON>;
			resets = <&cpg 310>;
			status = "disabled";
		};