				 <&cpg CPG_CORE R8A77965_CLK_S3D1>,
				 <&scif_clk>;
			clock-names = "fck", "brg_int", "scif_clk";
			power-domains = <&sysc R8A77965_PD_ALWAYS_ON>;
			resets = <&cpg 310>;
			status = "disabled";
		};