				reg = <0xd0012200 0x100>;
				reg-shift = <2>;
				interrupts = <43>;
				reg-io-width = <1>;
				status = "disabled";
		};
		serial@d0012300 {
				compatible = "snps,dw-apb-uart";
				reg = <0xd0012300 0x100>;
				reg-shift = <2>;
				interrupts = <44>;
				reg-io-width = <1>;
				status = "disabled";
		};

		timer@d0020300 {