	mpic: interrupt-controller@d0020000 {
	      compatible = "marvell,mpic";
	      #interrupt-cells = <1>;
	      #size-cells = <1>;
	      interrupt-controller;
	};

				reg = <0xd0012000 0x100>;
				reg-shift = <2>;
				interrupts = <41>;
				reg-io-width = <1>;
				status = "disabled";
		};
		serial@d0012100 {
				compatible = "snps,dw-apb-uart";
				reg = <0xd0012100 0x100>;
				reg-shift = <2>;
				interrupts = <42>;
				reg-io-width = <1>;
				status = "disabled";
		};

		timer@d0020300 {