	select PPC_HAVE_PMU_SUPPORT

config POWER3
	depends on PPC64 && PPC_BOOK3S
	def_bool y

config POWER4
	depends on PPC64 && PPC_BOOK3S
	def_bool y
	  but somewhat slower on other machines. This option only changes
	  the scheduling of instructions, not the selection of instructions
	  itself, so the resulting kernel will keep running on all other
	  machines.

# this is temp to handle compat with arch=ppc
config 8xx
	bool